<div class="container">
    <form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm">
        <h5 class="" style="margin-top: 10px;">Day Business</h5>
        
            <div class="form-group">
              <label>Date</label>
              <input type="date" class="form-control form-control-sm" formControlName="date"
              [class.is-invalid]="date?.invalid && date?.touched">
              <small [class.d-none]="date?.valid || date?.untouched" class="text-danger">Date Required..!</small>
            </div>
            <div class="form-group">
              <label >Oyster</label>
              <input type="number" class="form-control form-control-sm" placeholder="Enter Oyster" 
              formControlName="oysterSold" [class.is-invalid]="oysterSold?.invalid && oysterSold?.touched" min="0">
              <small [class.d-none]="oysterSold?.valid || oysterSold?.untouched" class="text-danger">Oyster Sold Required..!</small>
            </div>
            <div class="form-group">
                <label>Tobacco</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Tobacco" 
                formControlName="tobaccoSold" [class.is-invalid]="tobaccoSold?.invalid && tobaccoSold?.touched" min="0">
                <small [class.d-none]="tobaccoSold?.valid || tobaccoSold?.untouched" class="text-danger">Tobacco Sold Required..!</small>
            </div>
            <div class="form-group">
                <label>Tobacco Quantity</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Tobacco Quantity" 
                formControlName="tobaccoSoldQuantity" [class.is-invalid]="tobaccoSoldQuantity?.invalid && tobaccoSoldQuantity?.touched" min="0">
                <small [class.d-none]="tobaccoSoldQuantity?.valid || tobaccoSoldQuantity?.untouched" class="text-danger">Tobacco Sold Quantity Required..!</small>
              </div>
            <div class="form-group">
                <label>Phone Cards</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Phone Cards"
                formControlName="phoneCardsSold" [class.is-invalid]="phoneCardsSold?.invalid && phoneCardsSold?.touched" min="0">
                <small [class.d-none]="phoneCardsSold?.valid || phoneCardsSold?.untouched" class="text-danger">Phone Cards Sold Required..!</small>
              </div>
            <div class="form-group">
                <label >Z Total</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Z Total"
                formControlName="total" [class.is-invalid]="total?.invalid && total?.touched" min="0">
                <small [class.d-none]="total?.valid || total?.untouched" class="text-danger">Z Total Required..!</small>
            </div>
            <div class="form-group">
              <label >Shop Sales</label>
              <input type="number" class="form-control form-control-sm" placeholder="Shop Sales"
              formControlName="shopSales" [class.is-invalid]="shopSales?.invalid && shopSales?.touched" min="0">
              <small [class.d-none]="shopSales?.valid || shopSales?.untouched" class="text-danger">Shop Sales Required..!</small>
          </div>
          <button type="submit" class="btn btn-success btn-sm" style="margin-right: 5px;"
          [disabled]="!this.recordForm.valid">Submit</button>
          <!-- <button type="button" class="btn btn-primary btn-sm" style="margin-right: 5px;">Update</button> -->
      </div>

      <div class="col-sm">
        <h5 class="" style="margin-top: 10px;">Day Purchases</h5>
    
            <div class="form-group">
              <label>Shop</label>
              <input type="number" class="form-control form-control-sm" placeholder="Enter Shop"
              formControlName="shop" [class.is-invalid]="shop?.invalid && shop?.touched" min="0">
              <small [class.d-none]="shop?.valid || shop?.untouched" class="text-danger">Shop Required..!</small>
            </div>
            <div class="form-group">
              <label>Phone Card Purchased</label>
              <input type="number" class="form-control form-control-sm" placeholder="Enter Phone Card"
              formControlName="phoneCardsPurchased" [class.is-invalid]="phoneCardsPurchased?.invalid && phoneCardsPurchased?.touched" min="0">
              <small [class.d-none]="phoneCardsPurchased?.valid || phoneCardsPurchased?.untouched" class="text-danger">Phone Cards Purchased Required..!</small>
            </div>
            <div class="form-group">
                <label>Tobacco Purchased</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Tobacco"
                formControlName="tobaccoPurchased" [class.is-invalid]="tobaccoPurchased?.invalid && tobaccoPurchased?.touched" min="0">
                <small [class.d-none]="tobaccoPurchased?.valid || tobaccoPurchased?.untouched" class="text-danger">Tobacco Purchased Required..!</small>
              </div>
            <div class="form-group">
                <label>Tobacco Purchased Quantity</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Tobacco Purchased"
                formControlName="tobaccoPurchasedQuantity" [class.is-invalid]="tobaccoPurchasedQuantity?.invalid && tobaccoPurchasedQuantity?.touched" min="0">
                <small [class.d-none]="tobaccoPurchasedQuantity?.valid || tobaccoPurchasedQuantity?.untouched" class="text-danger">Tobacco Purchased Quantity Required..!</small>
              </div>
            <div class="form-group">
                <label>Wages</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Wages"
                formControlName="wages" [class.is-invalid]="wages?.invalid && wages?.touched" min="0">
                <small [class.d-none]="wages?.valid || wages?.untouched" class="text-danger">Wages Required..!</small>
            </div>
            <div class="form-group">
                <label>Expenses</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Expenses"
                formControlName="expenses" [class.is-invalid]="expenses?.invalid && expenses?.touched" min="0">
                <small [class.d-none]="expenses?.valid || expenses?.untouched" class="text-danger">Expenses Required..!</small>
            </div>
            <div class="form-group">
                <label>Commision</label>
                <input type="number" class="form-control form-control-sm" placeholder="Enter Commision"
                formControlName="commision" [class.is-invalid]="commision?.invalid && commision?.touched" min="0">
                <small [class.d-none]="commision?.valid || commision?.untouched" class="text-danger">Commision Required..!</small>
            </div>
          
            <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 5px;" 
            (click)="resetForm()">Reset Form</button>
      </div>

      <div class="col-sm">
        <h5 class="" style="margin-top: 10px;">Summary Report</h5>
        <div class="form-group">
          <label>Start Date</label>
          <input type="date" class="form-control form-control-sm" formControlName="startDate">
          <!-- [(ngModel)] = "startDate" -->
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <!-- {{startDate}} -->
        <div class="form-group">
          <label>End Date</label>
          <input type="date" class="form-control form-control-sm" formControlName="endDate">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 5px;"
        (click)="getSummary()">Summary</button>

        <div class="container" style="background-color: aquamarine; margin-top: 20px;">
          <table class="table">
            <!-- <thead>
              <tr>
                <th><small>Category</small></th>
                <th><small>Total</small></th>
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <td><small>Oyster Sold : </small>
                <small>{{this.summaryData == undefined ? null : this.summaryData.oysterSold}}</small></td>
                <td><small>Tobacco Sold : </small>
                  <small>{{this.summaryData == undefined ? null : this.summaryData.tobaccoSold}}</small></td>
              </tr>
              <tr>
                <td><small>Tobacco Sold Qty : </small>
                <small>{{this.summaryData == undefined ? null : this.summaryData.tobaccoSoldQuantity}}</small></td>
                <td><small>Phone Card Sold : </small>
                  <small>{{this.summaryData == undefined ? null : this.summaryData.phoneCardsSold}}</small></td>
              </tr>
              <tr>
                <td><small>Z Total : </small>
                <small>{{this.summaryData == undefined ? null : this.summaryData.ztotal}}</small></td>
                <td><small>Shop : </small>
                  <small>{{this.summaryData == undefined ? null : this.summaryData.shop}}</small></td>
              </tr>
              <tr>
                <td><small>Phone Card Purchased : </small>
                <small>{{this.summaryData == undefined ? null : this.summaryData.phoneCardPurchased}}</small></td>
                <td><small>Tobacco Purchased : </small>
                  <small>{{this.summaryData == undefined ? null : this.summaryData.tobaccoPurchased}}</small></td>
              </tr>
              <tr>
                <td><small>Tobacco Purchased Qty : </small>
                <small>{{this.summaryData == undefined ? null : this.summaryData.tobaccoPurchasedQuantity}}</small></td>
                <td><small>Wages : </small>
                  <small>{{this.summaryData == undefined ? null : this.summaryData.wages}}</small></td>
              </tr>
              <tr>
                <td><small>Expenses : </small>
                <small>{{this.summaryData == undefined ? null : this.summaryData.expenses}}</small></td>
                <td><small>Commision : </small>
                  <small>{{this.summaryData == undefined ? null : this.summaryData.commision}}</small></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</form>
</div>

<!-- {{this.recordForm.value | json}} -->

<div class="container" style="margin-top: 20px;">
  <table class="table table-striped table-sm text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 75px;"><small>Date</small></th>
        <th scope="col" style="width: 50px;"><small>Oyster</small></th>
        <th scope="col"><small>Tobacco</small></th>
        <th scope="col"><small>Tobacco Quantity</small></th>
        <th scope="col"><small>Phone Cards</small></th>
        <th scope="col"><small>Z Total</small></th>
        <th scope="col"><small>Shop</small></th>
        <th scope="col"><small>Phone Card Purchased</small></th>
        <th scope="col"><small>Tobacco Purchased</small></th>
        <th scope="col"><small>Tobacco Purchased Quantity</small></th>
        <th scope="col"><small>Wages</small></th>
        <th scope="col"><small>Expenses</small></th>
        <th scope="col"><small>Commision</small></th>
        <th scope="col"><small>Shop Sales</small></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of allRecords">
        <td ><small>{{record.date}}</small></td>
        <td><small>{{record.oysterSold}}</small></td>
        <td><small>{{record.tobaccoSold}}</small></td>
        <td><small>{{record.tobaccoSoldQuantity}}</small></td>
        <td><small>{{record.phoneCardsSold}}</small></td>
        <td><small>{{record.total}}</small></td>
        <td><small>{{record.shop}}</small></td>
        <td><small>{{record.phoneCardsPurchased}}</small></td>
        <td><small>{{record.tobaccoPurchased}}</small></td>
        <td><small>{{record.tobaccoPurchasedQuantity}}</small></td>
        <td><small>{{record.wages}}</small></td>
        <td><small>{{record.expenses}}</small></td>
        <td><small>{{record.commision}}</small></td>
        <td><small>{{record.shopSales}}</small></td>
        <!-- <td><button class="btn btn-primary btn-sm">Edit</button></td> -->
        <td><button class="btn btn-danger btn-sm" (click)="deleteRecord(record)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
