<div class="container-fluid">
  <section id="nav-bar conta" style="background-color: rgb(23, 60, 93); width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#" style="color: white;">Shop Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;">Servicess</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              Dropdown
            </a> -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          <button class="btn btn-danger my-2 my-sm-0" style="margin-left: 5px;" type="button"
          [hidden]="isLoggedIn == true">Logout</button>
        </form>
      </div>
    </nav>
  </section>
  
  <router-outlet>
  </router-outlet>
  
  <!-- Footer -->
  <footer class="page-footer font-small blue" style="background-color: rgb(23, 60, 93); width: 100%;">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">© 2023 Copyright:
      <a href="/"> CKtech.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
</div>
