<!-- <button class="button btn-info" (click)="gotoDEPage()">Go to Data Entry Page</button> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-1" style="background-color: rgb(23, 60, 93);">
            <div class="row">

            </div>
        </div>
        <div class="col-11">
<!-- first row -->
            <div class="row" style="text-align: center; margin: 1%;">
                <!-- <div class="col"> -->
                    <div class="card" style="background-color: aliceblue; padding: 20px; width: 20%;">
                        <h6 style="color: rgb(42, 42, 239);">Tobacco Profit</h6>
                        <p>{{this.profits.tobaccoProfit}}</p>
                    </div>
                <!-- </div>
                <div class="col"> -->
                    <div class="card" style="background-color: antiquewhite; padding: 20px; width: 20%;">
                        <h6 style="color: rgb(42, 42, 239);">Tobacco Qty Profit</h6>
                        <p>{{this.profits.tobaccoQtyProfit}}</p>
                    </div>
                <!-- </div>
                <div class="col"> -->
                    <div class="card" style="background-color: blanchedalmond; padding: 20px; width: 20%;">
                        <h6 style="color: rgb(42, 42, 239);">Phone Cards Profit</h6>
                        <p>{{this.profits.phoneCardsProfit}}</p>
                    </div>
                <!-- </div>
                <div class="col"> -->
                    <div class="card" style="background-color: pink; padding: 20px; width: 20%;">
                        <h6 style="color: rgb(42, 42, 239);">Shop Profit</h6>
                        <p>{{this.profits.shopProfit}}</p>
                    </div>
                <!-- </div>
                <div class="col"> -->
                    <div class="card" style="background-color: bisque; padding: 20px; width: 20%;">
                        <h6 style="color: rgb(42, 42, 239);">Total Profit</h6>
                        <p>{{this.profits.totalProfit}}</p>
                    </div>
                <!-- </div> -->
            </div>
<!-- 2nd row -->
            <div class="row">
                <h6></h6>
                <div class="col" style="height: 275px;">
                    <canvas baseChart type="line" [data]="lineChartData"></canvas>
                </div>
                <div class="col">
                    <canvas baseChart type="bar" [data]="barChartData"></canvas>
                </div>
            </div>
<!-- Third row -->
            <div class="row" style="margin-bottom: 20px;">
                <div class="col" >
                    <span style="text-align: center;"><h6>Expenses of the Month</h6></span>
                    <canvas baseChart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions"></canvas>
                </div>
                <div class="col" >
                    <span style="text-align: center;"><h6>Expenses of the Month</h6></span>
                    <canvas baseChart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions"></canvas>
                </div>
                <div class="col">
                    <span style="text-align: center;"><h6>Purchase Of the Month</h6></span>
                    <canvas baseChart type="pie" [data]="pieChartData" [options]="pieChartOptions"></canvas>
                </div>
            </div>

        </div>
    </div>
</div>